<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WLite - Terminal Shell</title>
    <!-- Connecting Xterm.js styles and core styling -->
    <link rel="stylesheet" href="/css/xterm.css" />
    <link rel="stylesheet" href="/css/shell.css" />
</head>
<body>

    <!-- Main Terminal Viewport - occupying 100% of the screen -->
    <div id="terminal-container" data-username="<%= username %>"></div>

    <!-- Connecting the library script -->
    <script src="/js/xterm.js"></script>
    
    <!-- Connecting your OS logic -->
    <script src="/js/shell-core.js"></script>
</body>
</html>